.idea
.env

# files
/files/sessions/**/*.json
/files/sessions/**/*.xml
node_modules
developments
# logs

# pycache
__pycache__
/baseline/__pycache__
/baseline/**/__pycache__

# mypy
.mypy_cache

# setup
build
dist
baseline.egg-info